---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<div class="content">
				<nav>
					<ul>
						<li><a href="/">About Me</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</nav>
				<header>
					<h1>{title}</h1>
				</header>
				<main>
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--text-color: #ffffff;
		--bg-color: #121212;
		--link-color: #ffb3b3;

		background-color: var(--bg-color);
		color: var(--text-color);
		padding: 1rem 4rem 1rem 4rem;
	}

	.container {
		display: flex;
        flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.content {
		max-width: 75ch;
        width: 75ch;
	}

	nav {
		display: flex;
		justify-content: end;

        ul {
            display: flex;
            gap: 1rem;
            list-style: none;

            a {
                color: var(--link-color);
                text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
            }
        }
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	html {
		font-family: system-ui, sans-serif;
	}
</style>
